<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuidarProximo">

        <!--NOTIFICACAO-->
        <receiver
            android:name=".ui.notificacao.ReminderReceiver"
            android:exported="false"/>
        <!-- MainActivity -->

        <receiver
            android:name=".ui.notificacao.MedicamentoReceiver"
            android:exported="false"/>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            </activity>

        <!-- SplashActivity -->
        <activity
            android:name="com.mesawa.cuidarproximo.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CuidarProximo.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.home.SaudeConteudoActivity"
            android:exported="false"
            android:label="@string/app_name" />


            <activity
            android:name=".cadastros.CadastroActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.model.ContratacaoActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>


        <activity
            android:name=".ui.pagamento.PagamentoCartaoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CuidarProximo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="cuidarproximo"
                    android:host="pagamento"
                    android:pathPrefix="/cartao" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.pagamento.PagamentoPixActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.pagamento.PagamentoActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cuidarproximo" />
                <data android:host="pagamento" />
                <data android:pathPrefix="/sucesso" />

                <data android:scheme="cuidarproximo" />
                <data android:host="pagamento" />
                <data android:pathPrefix="/erro" />

                <data android:scheme="cuidarproximo" />
                <data android:host="pagamento" />
                <data android:pathPrefix="/pendente" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.pagamento.HistoricoPagamentosActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.EnderecoIdosoActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.AvaliacoesActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.FaleConoscoActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.ConfiguracoesActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.PremiumActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.andamento.EmAndamentoActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name="com.mesawa.cuidarproximo.ui.home.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>


    </application>

    </manifest>
